[2019-06-17 14:14] dannav opened #1 "Configure ingress controller with config map"
We want to be able to define a caddy JSON config in a config map for the ingress controller to use

#9

[2019-06-17 14:17] dannav opened #2 "Add leader election algo so that if there are multiple replicas only one repsonds to ingress resources"

[2019-06-17 14:18] dannav opened #3 "Remove klog from ingress, change logger"

[2019-06-17 19:31] dannav opened #4 "Update ingress to use latest version of caddy"

[2019-06-17 20:49] #4 closed, assigned to nobody

[2019-06-17 20:49] #3 closed, assigned to nobody

[2019-06-17 20:49] dannav opened #5 "Support own TLS certificates"

[2019-06-17 20:49] dannav opened #6 "parse health check endpoint from deployment and set in caddy config"

[2019-06-17 20:50] dannav opened #7 "Bypass kube dns by getting the ip address and port of a pod deployment"

[2019-06-17 20:50] dannav opened #8 "Implementing lock / unlock for certmagic storage provider."
Currently the certmagic storage provider has noops for Lock and Unlock. It might not be necessary to implement these since the k8s client is thread safe.

Requires more research.

[2019-06-19 19:30] dannav opened #10 "Provide a prometheus metric exporter"

[2019-06-19 20:31] #10 closed, assigned to nobody

[2019-06-19 20:31] #1 closed, assigned to nobody

[2019-06-27 14:26] dannav opened #11 "Handle https redirects"
The ingress controller listens on :80 and :443. Caddy prevents https redirects if the server is listening on :80 for backwards compatibility purposes.

If https is setup successfully we should handle https redirects in the ingress controller

[2019-06-28 14:35] dannav opened #13 "Support lets encrypt production certificates and tls-staging args"
Currently the ingress controller only issues LE staging certs. An arg tls-staging should be configured to set caddy to provision production LE certs.

[2019-06-28 18:26] #5 closed, assigned to nobody

[2019-07-10 19:17] dannav opened #14 "We need a CI / Build server"
We also want to start implementing some tests for this

[2019-08-02 19:04] dannav opened #15 "Flesh out documentation"

[2019-10-29 20:10] aledbf opened #16 "General questions about the project"
- What's the goal of this project?
- Is this just a POC to see if there any interest?
- Have you thought about the integration of the existing directives/middleware in Caddy?
- Do you have an interest int the Kubernetes ecosystem or this is "just" to "compete" with the alternatives?
- Are there any plans to incubate Caddy project in the CNCF?

My questions are related to this thread https://groups

[2019-10-29 21:55] mholt commented on #16
Thanks for the questions!

To improve the Kubernetes-HTTPS/TLS story, ecosystem, and experience as a whole.

Caddy can provision certs, store them in Secrets, and coordinate management across the entire cluster, automatically and by default. And all with proper rate limiting for use at scale, and advanced features / customization. It also has the bonus of being dynamically configurable via API. No

[2019-10-29 23:06] aledbf commented on #16
Sure. From my point of view, the most interesting feature and extension point that Caddy provides is the plugin architecture. Also, the new Starlark support in V2 makes Caddy even more flexible.

From the existing ingress controllers, that you can see in the comparison table here https://medium.com/flant-com/comparing-ingress-controllers-for-kubernetes-9b397483b46b, only [Kong](https://github.com/

[2019-10-29 23:40] #16 closed

[2019-10-29 23:43] mholt commented on #16
I agree! Of course we'll definitely want to preserve this in the ingress controller. (That's kind of the point.)

Well, it's a yes-no question after all... :) anyway, why the interest? Would you rather we were part of CNCF?

[2019-10-30 00:02] aledbf commented on #16
I am trying to find an alternative to NGINX ([ingress-nginx](https://github.com/kubernetes/ingress-nginx) in particular)

Not my call ;)

That said, having a project that does not belong to one vendor/owner (like Envoy) would be nice.
Not sure this makes sense to the Caddy project itself.

*One of the comments in the first link in the issue makes an interesting observation:*

After four years of m

[2019-11-08 22:25] alexanderreno opened #17 "Can't pull ingresscontroller image from GCR"
After applying and running the standard
`helm template \
    --namespace=caddy-system ./kubernetes/helm/caddyingresscontroller/ \
    --set autotls=true \
    --set email="myemail" | kubectl apply -f -`
I am getting an error in kubernetes telling me "Cannot pull image 'gcr.io/danny-239313/ingresscontroller:v0.1.0' from the registry.
Check Pod's events to see more details"

Running a describe pod g

[2020-01-14 20:02] dannav commented on #17
You'll want to build the docker image and host it in your own container registry and reference that

[2020-01-21 13:56] riker09 commented on #17
I have created a PR #22 that will help building a Docker image.

[2020-01-30 17:09] BrettMayson opened #23 "Crash on start up"
I am unable to get this running, I am using Helm 3.0.2 and Kubernetes 1.16.2

[code]

[2020-02-23 23:53] eriklott commented on #17
Is there a technical reason why the caddy ingress image is not publicly available? We were also unable to pull the 'gcr.io/danny-239313/ingresscontroller:v0.1.0' image used in the Helm chart. To use this ingress (which is great by the way) we had to fork the project, re-write the Dockerfile as per @riker09 's PR, write a build script, and then customize the Helm chart to use our custom image. Seem

[2020-02-24 00:37] eriklott commented on #23
I'm getting the same error as well.

[2020-02-24 04:32] mholt commented on #23
Thanks for the report. Unfortunately, I don't currently have the time or funding to maintain this -- would really appreciate if the community would step up to help!

[2020-02-24 04:33] mholt commented on #17
@eriklott

Because it doesn't work / isn't finished, maybe? We would love it if the community could step up to help finish and maintain it!

[2020-02-24 13:39] eriklott commented on #17
Thanks for getting back @mholt. Entirely my mistake; I didn't realize this was a work in progress. I'd be happy to contribute if I get to the point where I understand the kubernetes internals a little better as well.

Thanks again for creating Caddy. Amazing piece of work.

[2020-02-25 09:56] riker09 commented on #17
I totally agree with @eriklott, Caddy is just magnificent. I'm already watching this repository very closely and I'm eager for Caddy v2. However, I don't have the skills (read: experience) with Kubernetes to maintain an IngressController resource. Let alone the time :sweat_smile:

I have updated the Dockerfile in my patch so that the PR can be merged.

[2020-03-02 01:29] oreoluwa commented on #23
@mholt, firstly, thank you for the awesome work done with Caddy, especially Caddy 2. While I'm currently evaluating how it might fit into my setup, I think I can see a great deal of benefits, especially with the OnDemand TLS(currently trying to setup a system that would require something like this). Secondly, thanks for putting in the time to make something for the Kubernetes fans out there.
I was

[2020-03-02 06:01] mholt commented on #23
@oreoluwa That's excellent work! I'm glad your PR is at least something people can use in the meantime.

I do think some work is needed to restructure/redesign the ingress controller, but again, I don't know much about it myself. I'm happy to help discuss high-level design choices, and to give guidance relative to setting up / configuring Caddy, but on the K8s/ingress side, I'm not as qualified as

[2020-03-04 04:56] oreoluwa commented on #23
Thanks for the update @mholt.
I'm interested in the development of the Ingress, however I have a limited knowledge of golang(although, it's one of the things I intend to learn and do a lot more with this year).
However, do you have a roadmap or a project board or something that describes where the project is going?
I think these would probably provide some clarity and help with adherence to the de

[2020-03-04 19:55] mholt commented on #23
Yes, although, I don't have much of that to offer right now, either, sorry :)

Ideally, I'd like the ingress controller to be as self-contained as possible: i.e. a caddy module. Probably an [app module](https://caddyserver.com/docs/extending-caddy#apps)?

Basically, the controller should just configure Caddy to reverse proxy to the containers like it normally does. Caddy will take care of HTTPS fo

[2020-03-04 20:17] mholt commented on #23
Here's an interesting discussion on HN about ingress controllers, performance, tradeoffs etc: https://news.ycombinator.com/item?id=21148370

[2020-04-14 07:52] PhilsLab opened #25 "HA Support"
First of all, thanks for bringing Caddy 2 to Kubernetes, I am really glad this project exists.

The main reason I use Caddy over Traefik is its simplicity. Traefik would also have been a nice option - if the free edition supported high availability, a core feature from my point of view.

Will this ingress controller be able to handle high availability deployments (using ReplicaSets and maybe even

[2020-05-04 20:54] charles-d-burton commented on #14
Would Github actions fit the bill?  I can get that setup and PR'd to you.

[2020-05-04 21:27] mholt commented on #14
@charles-d-burton I don't have enough experience with Kubernetes to know for sure, but I'd be happy to get you what you need in order to set up Actions. Just tell me what you need!

[2020-05-04 22:04] PhilsLab opened #26 "Project dead already?"
As with the release of caddy 2, and no activity on this repo since february, is this project dead already?

[2020-05-04 22:16] mholt commented on #26
Not dead per-se, just needs a maintainer, like the readme says:

I don't have much experience with Kubernetes (and I'm already spread too thin on projects), so I would be happy to delegate the development of this to a few people who have Kubernetes + Go + Caddy experience!

I can help with the Caddy aspects of course.

[2020-05-04 23:01] rileytg commented on #26
i have kubernetes experience and some bandwidth. I’d be happy to get started on this and see if i’d be a good fit to maintain it longer term. What’s the best way to get started? I’m reading through the repo now.

[2020-05-04 23:10] mholt commented on #26
@rileytg That'd be great! If I recall correctly, a lot has changed in Caddy since the controller was last worked on, so it probably needs to be updated so that it compiles and runs smoothly -- i.e. the configs it makes are all valid. Basically, just make sure it's updated to work with the latest Caddy release.

That'd be a good first step. Then I seem to remember some question about a storage chic

[2020-05-05 14:51] mavimo commented on #26
@PhilsLab I need to stop to work on it, at the moment there are a few changes on the caddy core API that make the project evolution a bit harder, now that caddy API are stabilised I will start to work on it again in the next few days..

[2020-05-05 15:17] mavimo commented on #14
@charles-d-burton there is kind action that can be used to setup a ephemeral cluster to use for testing purpose, see https://github.com/marketplace/actions/kind-kubernetes-in-docker-action

[2020-05-05 19:32] rusenask commented on #26
I might be able to contribute as well, previously wrote 2 ingress controllers so I could help with cross namespace routing (I couldn't find in the code now where it gets core_v1.Service and core_v1.Endpoint) & keeping routing tables updated based on endpoints. As well as HA part as I have something like this running based on certmagic in another project. Just need to figure out few things, mostly

[2020-05-05 19:45] mholt commented on #26
@rusenask Excellent. Similarly, let me know what you need in terms of access and/or direction and I'll make sure you can get it. :+1:

[2020-05-05 20:12] unixfox commented on #26
Frankly I'm very happy that the community has plans to *brought back to life* Caddy for Kubernetes because I'm quite sad to be *forced* to use NGINX on my Kubernetes cluster.
:+1: Good luck everyone. I'm available at all time if a tester is needed!

[2020-05-05 20:44] charles-d-burton commented on #14
Cool, I have a good bit on my plate through next Monday but I'll be freed up a bit after that and I'll get the build portion PR'd to you as soon as I can.  Deployment CI will be a bit harder but I'll happily have that discussion once I get past the build artifact generation.

[2020-05-05 21:29] PhilsLab commented on #26
@rusenask Maybe by creating custom cert CRDs in a designated namespace? Or maybe even by storing these inside something like Consul, like Traefik does?
Also, this could help make Caddy 2 ready for high availability.

[2020-05-06 12:11] Embraser01 commented on #26
Hi 👋

First of, thank you and congrats on Caddy 2!
I'm currently looking to run a Caddy Ingress Controller and stumble on this repo. I'd like to offer my help on making it work and stable. I'm particularly interested on the On demand TLS feature.
While I'm not proficient with golang yet, I'm interested in the development of Ingress. Can I have some guidance on where to start? I'm currently looking

[2020-05-06 16:13] mholt commented on #26
This is great -- it looks like between the 4-5 of you, there are people to develop, test, and learn -- I'll leave it up to you to continue coordinating the efforts. 🙂

If you want access to work in a branch instead of a fork, just let me know.

[2020-05-11 07:12] Embraser01 commented on #26
I tried to make a list of different things the controller needs to be useful. I may have missed some features:

## Caddy Ingress controller
- Automate the docker image build (using GH Docker registry or docker hub?) cf. #14
- Update deps to be compatible with v2.0.0
- Health check cf. #6
- Handle more complex ingress resources
   - Default backend
   - On demand TLS
   - Own certs
- Allow for repl

[2020-05-11 14:36] mholt commented on #26
@Embraser01 Absolutely. I can make an #ingress channel for the team.

Anyone who wants an invite, just let me know your email address and we'll get you in!

[2020-05-11 14:44] Embraser01 commented on #26
Good 👍 My email address: `embraser01@gmail.com`

[2020-05-11 18:17] mavimo commented on #26
@rusenask @rileytg can you share your email to @mholt so we can move the discussion into caddy slack org? thx!!

[2020-05-16 11:43] #13 closed

[2020-05-16 17:51] codeagencybe commented on #26
I can also help testing in k8s and rancher (rke)
Currently also stuck with nginx ingress :(
@mholt my email is info[at]codeagency.be

Thanks!

[2020-05-16 18:24] mavimo commented on #26
@codeagencybe we are in early stage but we start to publish the base image on https://hub.docker.com/r/caddy/ingress

[2020-05-16 18:31] mholt commented on #26
Requested invites sent - thanks!

[2020-05-16 18:33] mavimo commented on #17
@alexanderreno the image is now available here https://hub.docker.com/r/caddy/ingress feel free to close this issue :)

[2020-05-16 18:40] #17 closed

[2020-05-17 09:34] ShadowJonathan commented on #26
Maybe a bit early, but can the helm chart template point to that image as well? Currently it's pointing at an arbitrary gcr image which I have no read access to.

I'd love to use caddy in my (upcoming) cluster, good luck everyone!

[2020-05-17 14:55] mavimo commented on #26
@ShadowJonathan we are working to fix helm chart & docs, I'll keep you updated ;)

[2020-05-18 18:29] mholt commented on #26
@ShadowJonathan If you want an invite to help us out, just let me know which email address to invite

[2020-05-18 18:40] ShadowJonathan commented on #26
@mholt `jonathandejong02[a]gmail.com`

[2020-05-24 17:14] bje commented on #26
@mholt - I'd be happy to help with testing: jaco+caddy@nave.moe

[2020-05-25 12:00] mdbraber commented on #26
I'm happy to help with testing as well m@mdbraber.com @mholt

[2020-05-25 15:33] mholt commented on #26
Invites sent. Thanks everyone!

[2020-06-11 16:19] rajasiman opened #33 "pulling image configured at gcr.io/danny-239313/ingresscontroller:v0.1.0 results in a 401 Unauthorized response"
[code]

Does the image no longer exist at this URI?

[2020-06-11 16:24] rajasiman opened #34 "extensions/v1beta1 API deprecated in kubernetes >1.16"
### INFO
---

According to the [documentation](https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/), `apiVersion: apps/v1` should be used instead of `extensions/v1beta1`

The helm chart deployment failed without doing this change, FYI.

Change to be done at `./kubernetes/helm/caddyingresscontroller/templatestemplates/deployment.yaml`

[2020-06-11 16:32] Embraser01 commented on #34
Hi,

We are currently working on a new Helm chart at #24 where we will be removing any deprecated api.

[2020-06-12 22:19] mavimo commented on #33
@rajasiman we are working to update the doc, official image can be found here https://hub.docker.com/r/caddy/ingress

[2020-06-19 21:32] oreoluwa commented on #26
Perhaps a bit late to the party here @mholt. I'd also be interested in helping out here.

[2020-06-20 22:20] unixfox opened #36 "Client IP behind loadbalancer"
Hello,

I just tested the latest helm chart: https://github.com/caddyserver/ingress/releases/tag/caddy-ingress-controller-0.0.1-rc1. It worked fine!

I was wondering if it would be possible to enable the proxy protocol support for Caddy? Currently, the requests appears to come from the load balancer IP address and that's not good for services that rely on knowing the IP address of the client.

Als

[2020-06-20 22:33] unixfox opened #37 "Custom configuration"
On NGINX, it's possible to include custom configuration using the `nginx.ingress.kubernetes.io/configuration-snippet` annotation.

Would that be possible to add as a new feature for Caddy 2 ingress controller?

[2020-06-21 08:47] mavimo commented on #36
@unixfox thx to test it!

We have a PR WIP that will allow to configure all caddy global options via ConfigMap, see https://github.com/caddyserver/ingress/pull/30 to you think should be enough for your use case or you think that proxy protocol should be enabled by ingress?

In my opinion, since this will be enabled on the LoadBalancer I think that there is no reason to configure it on each single

[2020-06-21 08:49] mavimo commented on #37
@unixfox there is a PR for global config, see https://github.com/caddyserver/ingress/pull/30 maybe ingress specific config should be added via annotation but we have no plan at the moment, do you want to contribute on it? :)

[2020-06-21 08:50] mavimo commented on #33
@rajasiman the PR that update the helm chart for ingress is done, can we close this issue?

[2020-06-21 08:51] mavimo commented on #14
@dannav @charles-d-burton @mholt I think we can consider this task completed, I'm going to close it, feel free to re-open or create a new issue if something is missing :)

[2020-06-21 08:51] #14 closed

[2020-06-21 10:36] mavimo commented on #34
@rajasiman the new chart is now merged on master, I'm going to close this issue, feel free to re-open if you think something is missing, thx!

[2020-06-21 10:36] #34 closed

[2020-06-21 10:37] #33 closed

[2020-06-21 10:39] mavimo commented on #26
@PhilsLab this project still active (there are a few improvements in the last weeks, ne chart release, ...) I'm going to close this issue, feel free to open new issue if testing the project you find something that need to be fixed or that can be improved :)

[2020-06-21 10:39] #26 closed

[2020-06-21 11:04] unixfox commented on #36
I just discovered now that Caddy v2 doesn't support the proxy protocol yet: https://github.com/mastercactapus/caddy-proxyprotocol/issues/9

If caddy supported the proxy protocol, I would say it's better to have it globally enabled through a helm value like:
[code]

[2020-06-21 11:34] unixfox commented on #37
Unfortunately I never used Golang before, so I won't be able to contribute to the project.

I'll keep the issue open if one day someone wants to implement this feature.

Is the PR #30 only for modifying options from the global options: https://caddyserver.com/docs/caddyfile/options#global-options, right?

[2020-06-21 11:42] mavimo commented on #37
@unixfox yes, at the moment only for the global options

[2020-06-21 12:37] rajasiman commented on #34
I am going to test it and give you guys more feedback :) Glad to be of help.

[2020-07-04 14:03] Kiura opened #41 "Kuberntes configurations files instead of helm"
Is there a plan to add documentation on how to setup caddy for those who don't use helm?
kubernetes configuration or kustomize would be nice to have.

it is fairly easy to start using Nginx https://kubernetes.github.io/ingress-nginx/deploy/#gce-gke just fetching the config files and applying them. It would be nice to have something similar to this in caddy or even better to have a kustomize for gr

[2020-07-04 15:59] hairyhenderson commented on #41
In theory it could be pretty easy to generate straight Kubernetes resources by simply running the [`helm template`](https://helm.sh/docs/helm/helm_template/) command.

[2020-07-04 17:40] Kiura commented on #41
hmm, thank you, completely forgot about this feature of helm, might be useful to update the documentation to reflect this for those who are not very familiar with helm

[2020-07-04 18:51] #41 closed

[2020-07-04 19:45] hairyhenderson commented on #41
@Kiura That sounds like a good idea! Would you be willing to submit a PR with that addition?

[2020-07-07 09:10] hmtai opened #43 "Can not install caddy-ingress-controller using helm install"
I use helm installing the caddy-ingress-controller,but it failed with this error:
[code]
My helm version is:
[code]
I think this is because the too old helm version.Can we specify which helm version that we support?Thanks.

[2020-07-07 09:38] hmtai commented on #43
I packaged the chart manaually and then install successfully but I got the following errors:
[code]

[2020-07-07 13:24] mavimo commented on #43
@hmtai which k8s version are you using?

[2020-07-08 01:22] hmtai commented on #43
@mavimo Thanks for your quick response.I use kubernetes version `v1.13.9`.

[2020-07-10 10:24] hmtai commented on #43
I packaged the chart manaually and then install successfully but I got the following errors:
[code]

[2020-07-25 13:42] olliephillips opened #44 "Cannot install using Helm - chart not found"
Trying to set this up, but can't install it.

Installed Helm, created the namespace, then tried  `helm install` using the command in the README (below):

[code]

I get this error:

[code]

I'm running on a local cluster.
Helm version is: `version.BuildInfo{Version:"v3.2.4", GitCommit:"0ad800ef43d3b826f31a5ad8dfbb4fe05d143688", GitTreeState:"clean", GoVersion:"go1.13.12"}`

[2020-07-26 12:07] mavimo commented on #44
@olliephillips you need to use the `--devel` flag since we not released only the RC version...

[2020-07-26 15:00] olliephillips commented on #44
That fixes it. I have other problems but unrelated to this issue. Closing it. Thank you!

[2020-07-26 15:00] #44 closed

[2020-09-06 14:46] olliephillips opened #45 "Home Cluster ingress/IP address"
This isn't an issue, I'm just trying to work out how I might use this ingress controller on a home Raspberry Pi K8s cluster. I have a couple of questions.

They are not urgent but a steer would be appreciated, I have googled extensively I promise.

1. Do I need Caddy installed as well, or is this effectively caddy-for-K8s and load balancing and reverse proxying is available out-the-box?

2. Do I n

[2020-09-08 07:18] Embraser01 commented on #45
Hi :wave:

This project is a wrapper around Caddy, so you don't need to bring your own caddy instance.

I'll answer the second question first as I'm not sure on the first anwser :smile:
Putting a Load Balancer in front of Caddy allows you to have a fix IP/DNS for your cluster inbound trafic. For example, if all your machines dies at the same time, all your DNS pointing to it wi

[2020-09-08 07:32] Embraser01 commented on #45
Hi :wave:

This project is a wrapper around Caddy, so you don't need to bring your own caddy instance.

I'll answer the second question first as I'm not sure on the first anwser :smile:
Putting a Load Balancer in front of Caddy allows you to have a fix IP/DNS for your cluster inbound trafic and also allows you to listen to public ports like 80 or 443. Public cloud providers prevent K8S Services to

[2020-09-08 08:08] olliephillips commented on #45
Hey @Embraser01. Thanks for taking the time to put all that together. I'll work through the suggestions and see if it helps.
Thanks again!

[2020-09-10 09:34] SachinCompton opened #46 "Error: chart "caddy-ingress-controller" not found in https://caddyserver.github.io/ingress/ repository"
Hi I tried to use the command from the github home page example :

[code]

and got this error

`Error: chart "caddy-ingress-controller" not found in https://caddyserver.github.io/ingress/ repository`

Any idea how to fix it? Thanks!

[2020-09-12 22:43] idmahbub opened #48 "im using php fastcgi, how to"
stuck, please tell me about as, how to ingressed my project from srv port "fast-cgi:9000"

[2020-09-20 09:28] shripadk commented on #46
Answered here: #44

Use the `--devel` flag

[code]

[2020-10-07 15:15] SachinCompton commented on #46
This worked. Thanks very much.

[2020-10-07 15:15] #46 closed

[2020-10-18 17:33] ThayalanGR opened #50 "http => https redirects not working for root domain (@)"
domain.com is assigned an certificate but when i hit http://domain.com or simply domain.com , caddy didn't automatically redirects to https

however the other scenario www.domain.com is cname pointed to domain.com is also assigned a cert and http => https redirects works fine.

and one more issue i'm facing is it shows something like this frequently (from pod's log)
![image](https://user-images.gi

[2020-10-21 15:08] ThayalanGR opened #51 "To match all hosts, leave the hostname empty - How to replicate this in ingress"
hey @mholt @focux do you have any idea about, how we can replicate this feature in kubernetes ingress controller as caddy ingress?
![image](https://user-images.githubusercontent.com/35830033/96738380-4669be00-13dc-11eb-9edf-6af9a6c9727a.png)

i'm catching all the domain of my multi-tendant app using the default backend of the ingress controller like this
![image](https://user-images.githubusercont

[2020-10-24 02:15] mholt commented on #51
(Moving to the ingress repo as this seems to be a question about the ingress controller more than Caddy itself.)

[2020-10-27 13:48] silverbackdan opened #52 "Caddy plugin support"
I'm sorry for the newbie issue here. I'm hoping to include Caddy ingress with a plugin for Vulcain which has been created. See: https://github.com/dunglas/vulcain/blob/master/docs/caddy.md

I'm sure there are many plugins for Caddy which is one of the great things about it - is there an easy way to use this ingress with additional plugins? If so, it'd be great to see some info in the documentation

[2020-10-31 10:24] Embraser01 commented on #52
Hi :wave:
For now, there isn't a easy way to add plugins in the controller. I don't think it will be added in the foreseeable future.

For you use case: I don't know Vulcain but I think it should be put behind the Caddy Ingress Controller as a Kubernetes Deployment & Service instead of integrating it in the Caddy Ingress process

[2020-10-31 10:32] Embraser01 commented on #51
Hey @ThayalanGR :wave:

Can you try to set the hostname to `*.sellerspotdev.me` to see if it works ?

[2020-10-31 10:41] ThayalanGR commented on #51
I think pointing *.sellerspotdev.me to the hostname would work for only the subdomains related to sellerspotdev.me,
but not any other domains other than that. and it can be only possible with default backed ingress like the one (mentioned in the issue), however domain reaching the backend service throught default ingress, but caddy fails to serve ssl for those SLI domains.

And also has an issue r

[2020-10-31 11:20] Embraser01 commented on #51
On Demand TLS  is not implemented yet but it's the next thing I want to add.

Note that #30 change the way configuration is loaded and should simplify adding features like On Demand TLS 🙂

[2020-10-31 11:24] ThayalanGR commented on #51
That sounds awesome , let me close this thread, and hey @Embraser01 thanks for the support! caddy is awesome!.

[2020-10-31 11:24] #51 closed

[2020-11-05 16:32] steache opened #53 "Watching ingresses in non-selected namespace"
Hello,

I'd like to ask if it's only my problem (configuration) or what is going on. :D
I'm using these args.

[code]

Idk why but caddy-ingress is still trying to renew certificates from other namespaces too.
Every few minutes, it tries to renew certificate for **hidden-domain-name** and fails.
It's correct that it fails, becase the domain is in different namespace,ingress. The point is, it shoul

[2020-11-09 09:06] #11 closed

[2020-11-10 01:08] Sexual opened #55 "Wildcard domains"
Is it possible to set up an ingress to support all domains?

E.g: `host: *` rather than `host: foo.com`

For my use case, I want to support automatic cert issuing for all domains, but the amount of domains is constantly changing and dynamic and can't be manually set in the standard K8s ingress host values.

[2020-11-10 03:40] mholt commented on #55
(I can't answer for the maintainers, but I'll just note, in case it is helpful, that `*` is not a valid wildcard representation of `foo.com` -- you'd need either `*.com` or `*.*`, which, as certificate subjects, most browsers/clients reject.)

[2020-11-10 08:12] Embraser01 commented on #55
Hi

I think what you search for is On Demand TLS together with a default backend. It is not implemented yet but it's the next thing I want to add 🙂

[2020-11-10 11:21] Sexual commented on #55
@Embraser01 On-Demand TLS with a default backend sounds like just what I need!

Is there any ETA for this or any advice on where to get started to help implement this feature?

[2020-11-10 14:38] JCMais opened #56 "Is this production ready? Is anyone using it in production?"
Title. I am thinking about using this, but if it's not ready for production use yet I will search for something else.

[2020-11-10 14:45] Embraser01 commented on #56
Hi, the project is not production ready yet. There is still a lot of features and testing to do before being there (OnDemandTLS, Annotations config,...).

Currently, it works at a small scale and without too much interferences.

[2020-11-10 14:53] Embraser01 commented on #56
You can deploy caddy as a simple deployment (replica: 1) using the caddy docker image. You'll be able to sepcify the config but you'll not be able to use the `Ingress` K8S object.

Links:
- Caddy migration from v1 https://caddyserver.com/docs/v2-upgrade
- Caddy docker image https://hub.docker.com/_/caddy

[2020-11-10 15:26] JCMais commented on #56
Thanks @Embraser01

[2020-11-10 15:26] #56 closed

[2020-11-10 16:57] Embraser01 commented on #55
I'm looking to implement it before the end of the month, will update here when I've made some progress

[2020-11-18 18:28] #53 closed

[2020-11-19 04:57] therealsamlin opened #59 "Auto-renewal failed - JWS has an invalid anti-replay nonce"
Hi There,

## Setup
I've installed caddy-ingress via helm onto GKE `kubernetes version v1.16.13-gke.401`. With 2 replicas setup for caddy deployment and static IP for `caddy-ingress-controller` service

helm install command:

`helm install --namespace=caddy-system --repo https://caddyserver.github.io/ingress --set image.tag=latest --set ingressController.autotls=true --set ingressController.email=

[2020-11-19 05:53] mholt commented on #59
What are the full logs? A complete history will be helpful. Preferably with debug mode enabled, hopefully.

[2020-11-19 06:05] therealsamlin commented on #59
@mholt

[code]

Will this be of any help? I have other ingresses in the cluster that uses caddy too that's why you're seeing other domains

[2020-11-19 08:06] mholt commented on #59
That helps, thanks.

What version of caddy are you using? If you're not already using the latest, please try upgrading first.

[2020-11-19 08:06] mholt commented on #59
Also what happens if you run just one instance?

[2020-11-19 18:05] mholt commented on #59
Now that it's not the middle of the night, it's obvious to me that these logs are from [lego](https://github.com/go-acme/lego), which we replaced with [acmez](https://github.com/mholt/acmez) several months ago. This is a bug in lego, that has not been observed in acmez, so I think if you just upgrade Caddy you'll be good to go.

[2020-11-19 18:05] #59 closed

[2020-11-19 23:40] therealsamlin commented on #59
thanks @mholt, I've upgraded my setup to use image `caddy/ingress:sha-66c52c6`. Hopefully this will resolve the issue. I'll update this thread when it's fixed, now I have to wait till the 7 days rate limit ban is lifted from letsencrypt

[2020-12-05 11:00] dunglas commented on #52
Regarding Vulcain, it must be at the edge because it trigger HTTP/2 Server Pushes. The Ingress looks like the right place for this module if you use Server Push. If you use preload hints, a standard deployment is ok.

[2020-12-05 18:14] sgtsquiggs opened #61 "Failed to list *v1.ConfigMap: configmaps is forbidden"
Wiped my test box and ran into this today. Wasn't having this issue yesterday. Not convinced this is an issue w/ the templates.

System:
ubuntu 20.04
k3s v1.17.5+k3s1
helm v3.4.1
caddyserver ingress template as of 66c52c682f497022f43ffb529def89c3a8ff3472

Failed to list *v1.ConfigMap: configmaps is forbidden: User "system:serviceaccount:caddy-system:caddy-ingress-controller" cannot list resource "

[2020-12-06 11:57] silverbackdan commented on #52
Thank you both for your replies!

Ah ok, so I can create a vulcain service and still get some speed benefits using preload headers? Am I right in thinking that Chrome was deprecating push support as well? The ability to receive resolved requests simultaneously was going to be a big improvement for an application of mine, but if the browser won't support it, not much we can do. If I'm wrong regardi

[2020-12-06 13:33] dunglas commented on #52
@silverbackdan yes and yes, see https://twitter.com/dunglas/status/1326552735404060672?s=21.

We're going to make some announcements about Vulcain soon, basically we'll recommend to use preload hints when targeting Chrome.

[2020-12-06 13:42] silverbackdan commented on #52
Thank you. In which case I had some helm templates which was implementing Vulcain as a service which I'll re-introduce. Fingers crossed for the early hints support. Closing the issue here as it's getting off topic for this repo.

[2020-12-06 13:42] #52 closed

[2020-12-07 01:08] sgtsquiggs opened #62 "caddy ingress controller clusterrole is missing configmap resource access"
`- configmap` should be appended below

https://github.com/caddyserver/ingress/blob/66c52c682f497022f43ffb529def89c3a8ff3472/charts/caddy-ingress-controller/templates/clusterrole.yaml#L18-L23

[2020-12-07 01:09] sgtsquiggs commented on #61
Opened #62 which more accurately describes the problem

[2020-12-07 01:09] #61 closed

[2020-12-07 02:08] sgtsquiggs opened #63 "Wrong email being used when creating account"
caddy-ingress-controller logs:
[code]

My steps to reproduce (with a fresh k8s master node):
1. Create `caddy-system` namespace

2. Install caddy-ingress-controller chart
[code]

3. Fix role (append configmap permission)
[code]
edit and reconfigure rule:
[code]
Then apply
[code]

4. Apply example deployments, services (from this repo)

5. Apply custom configmap
[code]

6. Apply ingress with legit

[2020-12-07 08:05] Embraser01 commented on #62
PR #60 has the needed [fix](https://github.com/caddyserver/ingress/pull/60/files?file-filters%5B%5D=.yaml#diff-f590d1f475a7a046e551ed93d594bd1c41dd351b52c4513127c35a4b074a2de0R26) for this.

I need to get back to it (I hope before Christmas 😃)

[2020-12-11 13:47] Sexual commented on #55
Any update regarding this? Thanks

[2020-12-11 13:57] Embraser01 commented on #55
Yes! I decided to work on an improved version of the controller and refactored a bunch of things. It also add support for OnDemand TLS.

It's not merged yet as there is still some things to finish but the controller should be working.
The code is [here](https://github.com/caddyserver/ingress/pull/60) and a docker image of the latest commit (this morning) is available [here](https://hub.docker.com/

[2020-12-17 01:10] Sexual commented on #55
Awesome work! Is this ready to be used in a live environment and are there installation instructions for the improved and refactored ingress?

[2020-12-18 16:47] Embraser01 commented on #55
The project being still very young, I can't make promises. I can tell you that I've been using it in a live environment for some weeks now and it runs very nicely!
I didn't have time to update the documentation yet, but you can check out the chart folder and use helm to generate your manifests https://github.com/caddyserver/ingress/tree/66c52c682f497022f43ffb529def89c3a8ff3472/charts/caddy-ingress

[2020-12-18 19:32] ionutz89 opened #64 "Support for ARM64"
There is no image for arm64.

[2020-12-20 22:02] Sexual commented on #55
Do you have any insight into how to configure the default backend? I've tried deploying it and checking the logs, it's constantly checking an existing ingress' hosts and trying to issue certificates for them.

[2020-12-26 15:02] Sexual commented on #55
@Embraser01  So after a lot of experimenting, I've gotten a lot further on this.

1. Having a wildcard for ALL hosts supporting automatic HTTPS isn't possible as the hostnames must be explicitly set: https://caddyserver.com/docs/automatic-https#activation

2. The `proxyProtocol` is not working preventing actual production use. When trying to access `https://example.com` (a domain configured in the

[2021-01-12 14:43] Embraser01 commented on #55
1. Having a wildcard for ALL hosts supporting automatic HTTPS isn't possible as the hostnames must be explicitly set: [caddyserver.com/docs/automatic-https#activation](https://caddyserver.com/docs/automatic-https#activation)

Could you provide an ingress `.yml` and the configmap `.yml` files that would help me reproduce your issue?
And if you also can provide us the applied `config.json` (it's log

[2021-01-13 12:12] unixfox commented on #64
I guess this can easily be solved by using buildx with GitHub actions: https://github.com/docker/build-push-action

[2021-02-19 07:12] kyranb commented on #55
Just confirming, thanks to #65 will on demand TLS for any host name be possible? As is currently possible when using Caddy standalone (not as an ingress).

[2021-03-03 16:54] Sexual commented on #55
@Embraser01 It appears that this is due to the PROXY protocol not being something that is explicitly able to be set on GKE. https://projectcontour.io/guides/proxy-proto/

I'm not too sure how this works with ingress-nginx though as I have no issues with that.

Is there any workarounds to this issue?

[2021-03-25 13:21] ollietb opened #69 "Error: chart "caddy-ingress-controller" not found in https://caddyserver.github.io/ingress/ repository"
I tried following the instruction in the README but I get an error when running helm install

[code]
helm version is
[code]

[2021-04-25 09:43] #62 closed

[2021-05-20 05:58] Ferdzzzzzzzz commented on #69
Is this issue being looked at? I don't see any other docs on installing without helm 😄

[2021-06-20 18:24] #69 closed

[2021-08-26 07:40] kmpm opened #71 "helm can't find chart"
Helm can not find the caddy-ingress-controller chart

    $ helm repo add caddyserver https://caddyserver.github.io/ingress/

    $ helm repo update
    Hang tight while we grab the latest from your chart repositories...
    ...Successfully got an update from the "caddyserver" chart repository
    Update Complete. ⎈ Happy Helming!⎈

    $ helm pull caddyserver/caddy-ingress-controller
    Error: c

[2021-10-01 03:12] ibalaji777 opened #72 "How to implement on demand tls in yml ?"
Hi, I need to implement  on demand  tls with kubernet, is this possible?

[2021-10-06 08:35] yunfan commented on #41
@Kiura  can you paste a kubernetes yaml here? i havnt use helm before

[2021-10-08 12:16] eliasp commented on #41
[PR#42 adds instructions](https://github.com/caddyserver/ingress/pull/42/files) how to generate K8S YAML using `helm template`.

[2021-11-02 10:34] crobin1 opened #73 "Error: chart "caddy-ingress-controller" not found in https://caddyserver.github.io/ingress/ repository"
Hi,

I'm trying to deploy Caddy as an Ingress controller in my AKS cluster. When I try the provided commands, I get the following error:
`Error: chart "caddy-ingress-controller" not found in https://caddyserver.github.io/ingress/ repository`

I get the same error when adding the repo to my Helm repos first, and try to install the ingress controller then.

[2021-11-05 18:10] Yapcheekian opened #74 "Sticky session support"
Hi, in Caddy v2, there is a  `lb_policy` option for the `reverse_proxy` directive. https://caddyserver.com/docs/caddyfile/directives/reverse_proxy#load-balancing

Is this feature available on caddy ingress controller as well?

Thanks

[2021-11-08 08:15] Embraser01 commented on #74
Hi, for now the load balancing logic isn't handled by caddy ingress but by kube proxy (we just send traffic to the service).
I'd like to add this feature but lack time.

[2021-11-27 01:58] VinGarcia commented on #73
Hello guys, I am also having this problem, is this happening to everyone or is it something in my environment?

[2021-11-27 13:08] VinGarcia commented on #73
@crobin1 and maybe others that like me are not used to helm, apparently it is possible to build the helm package yourself, what I did was:

[code]

I am not sure if I might be missing some important points here since I am very new to Helm, but it completed the installation process, I will try to see if everything is working now and I will report back if I find any problems.

I hope this is helpful

[2021-11-27 14:50] VinGarcia commented on #71
This looks like the same issue reported on #73.

I was able to build it the chart locally and then install it, (I documented how I did it on #73) if this is not going to be fixed then we should change the instructions on how to install this project.

[2021-12-07 02:21] gitbeiji opened #76 "Diplomas."
In order to combine automatic certificate distribution, please greatly speed up the update of caddy-ingress

[2021-12-07 02:23] gitbeiji opened #77 "Charts problem"
Is there any problem with the official Charts warehouse? Please check it thoroughly.

[2021-12-14 02:14] gitbeiji opened #78 "Warehouse problem"
Error: chart "caddy-ingress-controller" not found in https://caddyserver.github.io/ingress repository

Is this problem during installation because the author deleted the repository?
![企业微信截图_20211214101434](https://user-images.githubusercontent.com/77761224/145920628-ead2b549-bf3b-48ab-b433-5ac0de7170ad.png)

[2022-01-03 14:17] acky666 opened #79 "Spinning startup"
Hiya,

Using Caddy on K8's ( Client: 1.22.4  Server: 1.21.5 ).  When deploying to the cluster the caddy pod, spins every minute with these messages.  I can't for the life of me see where the resource name might be"  I have looked through the code and can't see any error lines with the caddy config reload: prefix.

Does anyone know what this error refers to?

time="2022-01-03T13:58:55Z" level=info

[2022-01-03 15:16] acky666 commented on #79
This is solved.    Needed to use apiVersion  networking.k8s.io/v1beta1 on the ingress.     The service name and port are different on the networking.k8s.io/v1 API.   Since the beta1 is going to deprecated in 1.22.   I think this needs updating.

(internal / caddy / ingress)  line 43.   Probably to handle both APIs.

[2022-03-26 07:27] malthe commented on #79
Bump?

@Embraser01 gentle ping ...

[2022-03-27 21:25] Embraser01 commented on #8
Done in #60

[2022-03-27 21:25] #8 closed

[2022-03-27 21:27] Embraser01 commented on #23
Since this issue was created, the project has changed a lot, so I'm gonna close this issue. If this issue still happen on the latest version, feel free to open a new issue

[2022-03-27 21:27] #23 closed

[2022-03-27 21:36] #45 closed

[2022-03-27 21:38] Embraser01 commented on #50
Since this issue was created, the project has changed a lot, so I'm gonna close this issue. If this issue still happen on the latest version, feel free to open a new issue.

If I remember correctly, there was a small issue in caddy which made auto https redirects not working. It should be fixed now (and is working great for me)

[2022-03-27 21:38] #50 closed

[2022-03-27 21:42] Embraser01 commented on #6
Not sure we should let caddy do health check on top of Kubernetes. We should watch Endpoints change and implement #7.
Closing it for now, we can always re-evaluate this later

[2022-03-27 21:42] #6 closed

[2022-03-27 21:45] Embraser01 commented on #36
Proxy protocol was added in #60 and can be enabled in the global config https://github.com/caddyserver/ingress/blob/78e7d5f68295a30f945a4e6e50abc5c33c220ac2/charts/caddy-ingress-controller/values.yaml#L32

[2022-03-27 21:45] #36 closed

[2022-03-28 07:08] #64 closed

[2022-03-28 07:08] #78 closed

[2022-03-28 07:08] #79 closed

[2022-03-28 07:08] #43 closed

[2022-03-28 07:08] #71 closed

[2022-03-28 07:08] #73 closed

[2022-03-28 07:08] #77 closed

[2022-03-28 15:55] #25 closed

[2022-03-28 15:59] Embraser01 commented on #76
I'm not sure what you mean in _"In order to combine automatic certificate distribution"_?
The caddy ingress controller just got a new release which should support basic setups (auto ssl, minimal per ingress configuration, HA setups, ...)

[2022-03-28 16:45] Embraser01 opened #84 "Ingress updates should be retried on conflict"

[2022-04-06 11:26] stingalleman opened #85 "Production ready?"
Hi! I'm wondering if this ingress is production ready. It looks very nice! Seems like the latest release also isn't a pre-release.

[2022-04-06 15:48] Embraser01 commented on #85
Hi, the latest release is for the Helm Chart which needed to be bump to 1.0.0+ in order to be easily installable (without `--devel` opt.).

For the readiness for production of the controller, I'd tend to say yes even though there is a lot to be done.

Here is a quick list of pros and cons:

**Pros**
- I have been using it for more than a year with hundreds of ingresses without issues
- High Availa

[2022-04-12 15:50] stingalleman commented on #85
Sounds great, but not having a lot of customisation options seems like a problem. I'll try it if I get the chance, thank you!

[2022-04-14 10:29] Embraser01 opened #87 "Add zerossl issuer"
We currently only support acme issuer, we should add support for zerossl

[2022-04-14 21:57] #85 closed

[2022-04-15 12:21] #76 closed

[2022-04-15 12:24] Embraser01 commented on #63
A new version of the ingress was released, please open a new issue if you still have an issue

[2022-04-15 12:24] #63 closed

[2022-04-20 10:26] matslindh opened #88 "Caddy ingress + cert-manager for managing certain certificates"
First: thank you for making caddy a compatible ingress controller and congratulations on reaching 1.0.0!

I've been trying to get caddy ingress + cert-manager to work properly together for the last couple of days, but I've had trouble getting pre-existing TLS secrets to work in a stable fashion. I've tried to deploy a fresh domain; the certificate gets issued by cert-manager and I can download the

[2022-04-25 01:01] ioricloud opened #89 "Helm Terraform deploying with error"
Hey guys,

I'm trying to use caddy ingress in my studies in k3d, and when I trying to apply in terraform manifests I got this error.

`
│ Error: unable to build kubernetes objects from release manifest: unable to recognize "": no matches for kind "PodDisruptionBudget" in version "policy/v1"
│
│   with helm_release.caddyingress,
│   on caddy.tf line 1, in resource "helm_release" "caddyingress":
│

[2022-04-28 11:35] samstride opened #91 "How to set backend-protocol: "HTTPS""
Hi,

Thanks for maintaining this repo.

I am trying to use caddy ingress to expose the kubernetes dashboard.

With nginx, this annotation is needeed in the ingress:

[code]

Whats the equivalent for Caddy's ingress?

I am on GKE 1.22.8.

My ingress definition looks something like this:

[code]

Thanks.

[2022-04-28 11:51] Embraser01 commented on #91
Hi, it's not something possible for now, should be feasible though

The thing I don't know yet, is how to handle TLS verification.
We would have to fill these fields : https://caddyserver.com/docs/json/apps/http/servers/errors/routes/handle/reverse_proxy/transport/http/

[2022-04-28 11:58] Embraser01 commented on #89
Hi 👋,
Seems you are running K8S < 1.21 which added the PodDisruptionBudget v1.

We could go back to v1beta1 which will be available until 1.25 but I do not have a timeframe for this change. If you feel like it, you can open a PR with it

[2022-04-28 13:11] ioricloud commented on #89
Ok, I'll try to use this configs.

I'll report.

Best Regards.

Em qui., 28 de abr. de 2022 às 08:58, Marc-Antoine ***@***.***>
escreveu:

--

Henrique Oliveira
DevOps Engineer.
Network Computer Graduated - FIC Estacio.
Site: elementar.me
Blog: ioricloud.gitlab.io/hugo-blog/

[2022-04-28 15:20] Embraser01 commented on #91
Do you mean the status `Ingress` resources have? If so, you can find the logic here https://github.com/caddyserver/ingress/blob/master/internal/k8s/pod.go

If you mean the possibility of specifying the `loadBalancerIP` field in the `Service`, we could improve the Helm chart to allow adding it https://github.com/caddyserver/ingress/blob/master/charts/caddy-ingress-controller/templates/loadbalancer.

[2022-04-28 21:11] samstride commented on #91
Hmmm, I don't think the IP status of Ephemeral is advertised to Kubernetes. It's more of a cloud provider thing I guess.

I used `kubectl edit` to manually change the IP to a static one that I reserved but for some reason it kept reverting back.

If we can figure out why manually setting it did not work and solve that first, I can then provide a PR to the template.

I'd also be glad to contribute

[2022-05-04 12:46] Embraser01 commented on #91
Looking back at this issue, HTTPS services should kinda work because the 443 port on the service should make caddy use https automatically. It's probably the certificate validity of the kubernetes-dashboard that is self-signed ?

It's weird that service specs were not persisted. Maybe you can't edit a LoadBalancer ips once created on GKE? Didn't find anything related to this in docs.
The caddy con

[2022-05-05 10:37] samstride commented on #91
@Embraser01 ,  yes, from [here](https://github.com/kubernetes/dashboard/blob/master/docs/user/installation.md#recommended-setup)

[code]
With NGINX, The annotation `nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"` solves this.

The alternative is to create a secret using custom certs and modify the deployment, which will be good to document.

[2022-05-05 10:54] Embraser01 commented on #91
Ok, thanks, found the Nginx ingress controller config for that: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#backend-certificate-authentication

It will take some work to make it fully work but it should be fairly easy to make it work with verification disabled (default in nginx)

[2022-05-05 10:57] samstride commented on #91
Awesome + Thanks. Keen to try it out when it is ready and also happy to contribute to some GKE specific docs.

[2022-05-10 22:31] mikemimik commented on #87
There was work at my org to add this functionality to the ingress controller and we successfully updated to leverage zerossl as an issuer. I can create a pull-request with this work, and it can be validated if its current shape is something this project finds value in, or if we need to change something.

[2022-05-21 12:20] Embraser01 opened #93 "Add trusted_proxies annotation"
We should add support for a new annotation on ingresses to specify trusted proxies:

https://caddyserver.com/docs/json/apps/http/servers/routes/handle/reverse_proxy/trusted_proxies/

[2022-07-02 16:54] Venryx commented on #87
Yes, I've grown to prefer ZeroSSL personally, after having had multiple bugs in my attempted integration of Let's Encrypt with Kubernetes that ended up exhausting my certificate-provisioning quota. (the old ones were lost in the development/debugging process...)

I would have been happy to pay some to get past the quota-limit that time, but LE does not offer that option; that made me nervous, real

[2022-07-20 19:25] Embraser01 opened #96 "Allow controller to issue certificates into cert manager instead of secrets"

[2022-07-20 22:25] ahmetb commented on #96
I think my motive is to have self-signed certificates placed into a Kubernetes Secret object for my Kubernetes admission webhook to read from (or have an ingress like caddy in front do this) as well as the component update the MutatingWebhookConfiguration / ValidatingWebhookConfiguration objects' `caBundle` fields with the self-signed cert's CA cert as it is provisioned/renewed.

I'm not entirely

[2022-07-20 22:28] Embraser01 commented on #88
Hi, sorry for the delay!

Looking at this now, I'm not sure on why this happen. It seems that TLS certs are not picked up by caddy correctly but reloading the config fixes this issue sometimes.
On my side, the certificate is always correctly written in the container (in `/etc/caddy/certs`), is it the same for you?

I did find an issue when other fields are specified in the secret's data but it sho

[2022-07-20 22:36] matslindh commented on #88
Sorry, I spent a couple of days attempting to debug it, but having no idea where to make much more sense of it I had to switch to the standard nginx ingress instead. Unless you want to keep the issue open to track this further you can just close it; our setup has evolved in a different direction for now.

[2022-08-15 14:43] sebastian-philipp opened #97 "remote error: tls: internal error"
Hi, I'm getting an internal tls error when setting up the ingress controller:
[code]
Looks like it's impossible to get solve the challenge due to the tls error. The ingress is pretty much standard without any fancy setup. Would be great, if we could fix this automatically.

workaround: delete the pods

[2022-08-17 11:22] malthe opened #98 "Option to select HTTP version"
In Caddy, we can disable HTTP2 using:
[code]
See https://github.com/caddyserver/caddy/issues/189#issuecomment-280879901.

How can this be achieved with the ingress controller?

[2022-08-17 12:36] Embraser01 commented on #98
It's not possible to do this out of the box (without a plugin) at this moment. It could be added as a field in the config map

[2022-08-17 12:42] Embraser01 commented on #97
Hi,

I'm not sure on what is happening here without more info on how it's setup. What load balancer is in front of the caddy ingress controller? What does the caddy configmap look like?
Can you provide the full JSON config used by caddy (should be logged on startup)

[2022-08-17 12:50] Embraser01 commented on #96
Don't think so. We could add an option to let caddy act as an issuer for certmanager, but we would still need the certmanager controller to handle most of the logic (which is complex: https://cert-manager.io/docs/concepts/certificate/)

[2022-08-17 13:01] sebastian-philipp commented on #97
I'm using OVH's load balancer. But Unfortunately it works by now. I'd be ok with closing it.

[2022-08-17 13:51] Embraser01 commented on #97
I'm gonna close it for now, but feel free to reopen it if you find more debugging information.
Note that it may be related to OVH's load balancer (I'm not familiar with it) having trouble to keep ingress controller pods in sync, for example AWS takes ~2min to let a pod available on their network load balancer.

[2022-08-17 13:51] #97 closed

[2022-08-19 07:40] RickFoland commented on #55
I'd also like to confirm that OnDemand is supposed to be working. I spun up the ingress controller with `--set ingressController.config.onDemandTLS=true` and although it issues certs as expected, it serves a blank page instead of following the backend specified in my ingress resource.

[2022-08-22 10:06] Embraser01 commented on #87
PR #101 brings ZeroSSL support through EAB credentials 🎉 so I'm gonna close this as completed.

Note that it would be nice to support [ZeroSSL issuer](https://caddyserver.com/docs/json/apps/tls/automation/policies/issuers/zerossl/) directly through their API. If this is something people want, feel free to open a PR/issue 😃

[2022-08-22 11:48] #87 closed

[2022-08-24 10:42] nilathedragon opened #102 "Replace "disable-ssl-redirect" annotation with "ssl-redirect""
In NGINX ssl-redirect is controlled by the "ssl-redirect" annotation.
I saw you implemented this functionality by it being enabled by default and the annotation "disable-ssl-redirect" to turn it off.

I think it would make more sense to have naming parity with the nginx annotation. It makes more sense to explicitly turn "ssl-redirect" off than turning on a disable switch which then turns off ssl-r

[2022-08-26 10:48] Embraser01 commented on #102
Yep, I'd be ok with that. I agree having an annotation starting with `disable-` is quite confusing, having a default value to `true` is better (it's not documented though, but that should change as soon as I finished the documentation)

[2022-08-30 21:40] xinbinhuang opened #106 "Support for local_certs"
Hi team,

Does the ingress currently support https://caddyserver.com/docs/caddyfile/options#local-certs? My use case is to have local signed certs for internal network without public domain (so no wildcard certs .)

Is this achievable in the current state or requires a new feature added?

[2022-09-15 15:39] smilelikeshit opened #108 "Support plugin caddy-tlsconsul"
hello team.
how to integrate with this plugin https://github.com/pteich/caddy-tlsconsul ?

[2022-09-23 06:16] Morishiri opened #109 "Support specyfing loadBalancerIP"
In production environments you usually don't want your IPs to be dynamic (e.g. in a case of redeployment) and you want to specify (previously obtained) IP address for ingress controller load balancer service.

To do so, it is enough to specify `.spec.loadBalancerIP` in controller `service`. (Example in ingress-nginx: https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/templa

[2022-09-30 08:22] RickFoland opened #110 "Load Balancer Annotations & AWS NLB Additional Steps"
1) Maybe I missed this, but currently there is no way to add annotations to the load balancer template through a values file. These annotations are necessary for changing the load balancer type, attaching Elastic IPs, etc. It wasn’t a big add and I can submit a pull request with my changes if this wasn’t meant to be done elsewhere.

2) This may not be supported yet, but creating an NLB instead of

[2022-10-12 13:22] Embraser01 commented on #108
Hi, for now, you'd have to create a new middleware like this one https://github.com/caddyserver/ingress/blob/master/internal/caddy/global/secrets_store.go that would overwrite the default way it works

[2022-10-12 13:32] Embraser01 commented on #110
Hi,

For 1), you're right, we need to add a lot more templating options to our values file (#109 is almost about the same thing). Feel free to submit a PR, I'll try to get to it asap.

For 2), I'm not sure on what we could do here, as it's mainly AWS things for any LB setup. I did succeeded at running a NLB with everything working (w/ proxy protcol, direct pod traffic, ...). I'd like to add a sect

[2022-10-14 08:17] RickFoland commented on #110
2) So I have the NLB working, but needed to add a couple of manual steps. I may have just missed something in my setup that would tell AWS to create the NLB properly. Do you have a copy of the annotations you used for that NLB setup? Did you have to do anything with the AWS LoadBalancer Controller?

[2022-10-19 10:08] smilelikeshit commented on #108
thank you @Embraser01  😁

[2022-10-19 10:08] #108 closed

[2022-11-22 08:38] sebastian-philipp opened #112 "Add whitelist-source-range (or better allowlist-source-range) annotation"
Hi everyone,

The nginx ingress supports a [`whitelist-source-range`](https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/nginx-configuration/annotations.md#whitelist-source-range)  annotations, which is interesting for exposing internal services only to some source IPs: `nginx.ingress.kubernetes.io/whitelist-source-range`.

Would be great to have this as well. I imagine we need